<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordovaPluginFacebookEventOS" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>FacebookEventOS</name>
	<js-module name="FacebookEventOS" src="www/FacebookEventOS.js">
		<clobbers target="cordova.plugins.FacebookEventOS"/>
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="FacebookEventOS">
				<param name="android-package" value="cordovaPluginFacebookEventOS.FacebookEventOS"/>
			</feature>
		</config-file>
		<source-file src="src/android/FacebookEventOS.java" target-dir="src/cordovaPluginFacebookEventOS/FacebookEventOS"/>
		<framework src="com.facebook.android:facebook-android-sdk:12.3.0"/>
	</platform>

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="FacebookEventOS">
				<param name="ios-package" value="FacebookEventOS"/>
			</feature>
		</config-file>
		<source-file src="src/ios/FacebookEventOS.m"/>
		<podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="FBSDKCoreKit" spec="12.3.0"/>
                <pod name="FBSDKLoginKit" spec="12.3.0"/>
                <pod name="FBSDKShareKit" spec="12.3.0"/>
            </pods>
        </podspec>
		<config-file parent="CFBundleURLTypes" target="*-Info.plist">
			<array>
				<dict>
					<key>CFBundleURLSchemes</key>
					<array>
						<string>fb1064497160291882</string>
					</array>
				</dict>
			</array>

			<key>FacebookAppID</key>
			<string>1064497160291882</string>

			<key>FacebookClientToken</key>
			<string>31efb67c6cf0bfe5bee67bddd6c975f5</string>

			<key>FacebookDisplayName</key>
			<string>Mi Entel Perú</string>
		</config-file>
		<config-file parent="LSApplicationQueriesSchemes" target="*-Info.plist">
			<array>
				<string>fbapi</string>
				<string>fb-messenger-share-api</string>
			</array>
		</config-file>
	</platform>
</plugin>